@{
    ViewData["Title"] = "Home Page";
}




            <img class="img-fluid " src="https://cdn.pixabay.com/photo/2015/03/27/00/09/puzzle-693870_960_720.jpg">
       
  

<div class="text-center">
    <h1 class="display-4">JobsNet</h1>
   
    <p> Connectando oportunidades e construindo o futuro.</p>
</div>







